// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;


$red: #FD1015;
$yellow: #FFC65A;
$gray: #0E0000;
$blue: #382878;
$light-blue: #43c6d8;
$light-gray: #f9f9f9;
$orange: #e83818;
$green: #08e8a8;

