
<% @track.recordings.each do |recording| %>
  <div class="d-flex">
    <div class="m-auto" style= "width: 50%">
      <input type="checkbox" class="checkrecording" data-recordurl="<%= cloudinary_url(recording.resource.key, resource_type: :video) %>"><%= recording.name %></input>
    </div>
    <div class="m-auto" style="width: 50%">
      <audio src="<%= cloudinary_url(recording.resource.key, resource_type: :video)  %>" controls></audio>
    </div>
  </div>
<% end %>
