<div class="banner-small">
  <div class="banner-slanted"></div>
  <%#= image_tag "rocks.png", alt: "Rock on hand sign" ,id: "rocks" %>

  <h1>Let's mix it !</h1>
  <h3><%= @track.title %></h3>
  <div class="align-items-center">
    <%= render "shared/button_back_to_track"%>
  </div>
</div>

<div class="container mt-5">

<div id="particles-js"></div>
<div class="container">

  <%= render 'recordings/index-show' %>

  <div class="text-center mt-5">
    <div class="btn btn-blue play-recordings">
      <i class="fas fa-sliders-h"></i> Mix Recordings
    </div>
    <div class="btn btn-blue pause-recordings">
      <i class="fas fa-pause"></i> Pause
    </div>
    <div class="btn btn-blue stop-recordings">
      <i class="fas fa-stop"></i> Stop
    </div>
    <div class="btn btn-blue download-mix">
      <i class="fas fa-download"></i> Download Mix
    </div>
  </div>
</div>
