<div class="footer">
  <div class="container">
    <div>
      <h2>My Music Band</h2>
    </div>
    <div class="footer-copyright">
      <p>(<i class="fas fa-microphone-alt"></i>) You'll never play alone !</p>
    </div>
  </div>
</div>
