<div class="banner-home-page banner-slanted">
  <div class="container-home-page">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-md-6 mt-5">
        <h1>You will never play alone</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et malesuada metus. Vivamus nibh nulla, pharetra sed est at, eleifend mattis augue</p>
        <a href="https://guides.rubyonrails.org">Play now</a>
      </div>
      <div class="col-lg-6 col-sm-6 col-md -6text-center">
        <div><%= cl_image_tag("voice_m0cqki", width: 300, height: 200, crop: :fill, class: "photo-banner") %></div>
        <div class="guitar"><%= cl_image_tag("guitar_gmvcmd", width: 300, height: 200, crop: :fill, class: "photo-banner") %></div>
      </div>
    </div>
    <div class="text-scroll"><h3 class="text-center">How it works?</h3><div>
    <div class="d-flex justify-content-center">
      <div class="container-scroll">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
      </div>
  </div>
</div>
<div class="container-home-page">
  <div class="row">
    <div class="col-lg-6 col-sm-6 col-md-6 mt-5">
      <div><%= cl_image_tag("voice_m0cqki", width: 300, height: 200, crop: :fill, class: "photo-banner") %></div>
    </div>
    <div class="col-lg-6 col-sm-6 col-md-6 mt-5">
      <h2>Create or find your rock team</h2>
    </div>
  </div>
</div>
