<audio id="audioPlayer">

<source src="/assets/foo-fighters-the-pretender-guitar-tracks.mp3" >
</source>

</audio>



<button class="control" id="playButton">Play</button>

<button class="control" id="StopButton">Stop</button>
