<div class="container">
  <div class="d-flex justify-content-between">
    <h3>Sheets and Tabs</h3>
    <%= image_tag "plus.png", class: "btn-add" %>
  </div>

  <% @track.partitions.each do |partition| %>
    <div class="partition">
      <%= image_tag "drums.png" %>
      <%= partition.name %>
      <div class="open-partition">
        <%= link_to "Open", partition_path %>
      </div>
    </div>
  <% end %>
</div>
