<div class="partition-show">
  <div class="banner-small banner-transparent text-center fixed-top">
    <div class="banner-title-band">
      <h1><%= @partition.track.title %></h1>
      <div class="card-buttons-sound d-flex justify-content-center mt-4">
        <a class="btn-sound mx-5 btn-play"><i class="fas fa-play"></i></a>
        <a class="btn-sound mx-5 btn-record"><i class="fas fa-record-vinyl"></i></a>
        <a class="btn-sound mx-5 btn-stop"><i class="fas fa-stop"></i></i></a>
        <a class="btn-sound mx-5 btn-pause"><i class="fas fa-pause"></i></a>
        <a class="btn-sound mx-5 btn-back"><i class="fas fa-undo-alt"></i></a>
        <a class="btn-sound mx-5 btn-save"><i class="fas fa-save"></i></a>
      </div>
      <div>
        <button class="dropdown-recordings" type="button" data-toggle="collapse" data-target="#collapseRecordings" aria-expanded="false" aria-controls="collapseExample">
    Select your recordings buddy <i class="fas fa-angle-down"></i></button>
        <div class="collapse" id="collapseRecordings">
          <div class="list-recordings">
            <ul class="list-unstyled">
             <% @recording.each do |record| %>
                <li><input class="audio checkrecording" type="checkbox" data-recordurl="<%= cloudinary_url(record.resource.key, resource_type: :video) %>" name="recording"/><%= record.name %></input></li>
             <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-partition">
    <div class="text-center">
      <%= cl_image_tag @partition.photo.key, width: 800 %>
    </div>
  </div>
</div>

<script>


</script>
