<div class="partition-show">
  <div class="banner-small banner-transparent text-center banner-orange">
    <div class="banner-title-band">
      <h1><%= @partition.track.title %></h1>
      <div class="card-buttons-sound d-flex justify-content-center mt-4">
        <a class="btn-sound mx-5"><i class="fas fa-play"></i></a>
        <a class="btn-sound mx-5"><i class="fas fa-record-vinyl"></i></a>
        <a class="btn-sound mx-5"><i class="fas fa-stop"></i></i></a>
        <a class="btn-sound mx-5"><i class="fas fa-pause"></i></a>
        <a class="btn-sound mx-5"><i class="fas fa-undo-alt"></i></a>
        <a class="btn-sound mx-5"><i class="fas fa-save"></i></a>
      </div>
        <select class="dropdown-recordings text-center">
          <option>Select a Recording buddy </option>
          <% @recording.each do |record| %>
            <option><%= record.name %></option>
          <% end %>
        </select>
      <div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="text-center">
      <%= cl_image_tag @partition.photo.key, width: 800 %>
    </div>
  </div>
</div>

