<div class="banner-small banner-orange">
  <h1>My bands</h1>
</div>
<div class="container mt-5">

<div class="cards">

  <% @bands.each do |band| %>
    <div class="card-band">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-band-infos">
        <div>
          <h2><%= band.name %></h2>
          <p><%= band.description %></p>
        </div>
        <% band.users.each do |user| %>
        <%= user.first_name %>

        <% end %>
        <ul class="avatars">
          <li class="avatars_item">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered" />
          </li>
          <li class="avatars_item">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered" />
          </li>
          <li class="avatars_item">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered" />
          </li>
           <li class="avatars_item">
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered" />
          </li>
        </ul>
      </div>
    </div>
  <% end %>


</div>

</div>
