<div class="banner-small banner-orange">
  <h1>My bands</h1>
</div>
<div class="container mt-5">

<div class="cards">

  <% @bands.each do |band| %>
    <div class="card-band">
      <img src="https://raje.fr/media/cache/mycache/uploads/images/articles/5a6205a4a0204_Nirvana.jpg" />
      <div class="card-band-infos">
        <div>
          <h2><%= band.name %></h2>
          <p><%= band.description %></p>
        </div>
        <ul class="avatars">
          <% band.users.each do |user| %>
            <li class="avatars_item">
              <%= cl_image_tag user.avatar.key, crop: :thumb, gravity: :face, :effect=>"grayscale", class: "avatar-bordered" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>


</div>

</div>
