
.banner-title-band {
  padding-top: 120px;
}

.banner-small{
  width: 100%;
  height: 185px;
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // justify-content:center;
  // align-items:center;

  h1 {
    position: relative;
    top: 6%;
  }
  p{
    position: relative;
    top: 5%;
  }
}

.banner-orange{
  background-color: $orange;
}

.banner-transparent{
  background-color: transparent;
}

.banner-slanted {
  z-index: -10;
  position: absolute;
  top:0;
  width: 100%;
  height: 248px;

  // background: $orange;
  background: radial-gradient(circle, rgba(249,70,108,1) 0%, rgba(232,56,24,1) 99%);

}

.banner-slanted:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: $light-gray;
  transform: skew(87deg);
}

#rocks {
  position: absolute;
  width: 24%;
  right: -25.5%;
  top: calc(172px - 10vw);
  transform-origin: bottom left;
  transform: rotate(-65.78deg);
  overflow-x: hidden;
  z-index:-1;
}
