
.banner-title-band {
  padding-top: 120px;
}

.banner-small{
  width: 100%;
  height: 185px;
  text-align: center;
  padding-top: 100px;
  // display: flex;
  // flex-direction: column;
  // justify-content:center;
  // align-items:center;

  h1 {
    position: relative;
    top: 6%;
  }
  p{
    position: relative;
    top: 5%;
  }
}

.banner-orange{
  background-color: $orange;
}

.banner-transparent{
  background-color: transparent;
}

.banner-slanted {
  z-index: -10;
  position: absolute;
  top:0;
  width: 100%;
  height: 300px;

  // background: $orange;
  background: radial-gradient(circle, rgba(249,70,108,1) 0%, rgba(232,56,24,1) 99%);

}

.banner-slanted:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: $light-gray;
  transform: skew(87deg);
  z-index: -1000;
}

#rocks {
  position: absolute;
  width: 24%;
  right: -25.5%;
  top: calc(172px - 10vw);
  transform-origin: bottom left;
  transform: rotate(-65.78deg);
  overflow-x: hidden;
  z-index:-1;
}

.banner-home-page{
  // z-index: -10;
  // // position: absolute;
  // top:0;
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle, rgba(249,70,108,1) 0%, rgba(232,56,24,1) 99%);
  padding: 120px 0px 70px 0px;
  background-size: cover;
  background-position: center;
  margin:auto;
  h2{
    color:$gray;
  }
  p{
  color:$gray;
  }

}

.photo-banner{
  border-radius: 5px;
  box-shadow: 9px 9px 0px white;
}

.guitar{
  position: absolute;
  left: 164px;
  top: 149px;
}

.banner-testimonial-home-page{
  margin-top: 50px;
  width: 100%;
  height: 441px;
  background: radial-gradient(circle, rgba(249,70,108,1) 0%, rgba(232,56,24,1) 99%);
  padding: 86px 0px 70px 0px;
}


.banner-testimonial-slanted {
  z-index: -10;
  position: absolute;
  width: 100%;
  height: 335px;

  // background: $orange;
  background: radial-gradient(circle, rgba(249,70,108,1) 0%, rgba(232,56,24,1) 99%);

}

.banner-testimonial-slanted:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: $light-gray;
  transform: skew(87deg);
  z-index: -1000;




.partition-show{
  .banner-small{
    width: 100%;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;

    h1 {
      position: relative;
      top: 6%;
      z-index: -1;
    }
    p{
      position: relative;
      top: 5%;
    }
  }
}
