
.banner-title-band {
  padding-top: 120px;
}

.banner-small{
  width: 100%;
  height: 240px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center
}

.banner-orange{
  background-color: $orange;
}

.banner-transparent{
  background-color: transparent;
}

.banner-slanted {
  z-index: -1;
  position: absolute;
  width: 110%;
  height: 202px;
  left: 0;
  top: 0;

  background: $orange;
  transform-origin: bottom left;
  transform: rotate(3.57deg);
}

.banner-slanted-top {
  z-index: -1;
  position: absolute;
  top:0;
  width: 100%;
  height: 202px;

  background: $orange;
}
