.btn-orange {
  background-color: $orange;
  color:black;
}


.btn-blue {
  background-color: $blue;
  color: white;
}

.btn-plus{
  color: $blue;
  &:hover {
    color: #ce0000;
  }
}

.btn-add {
  height: 24px;
  width: 24px;
  margin: 3px;
}

.btn-main{
  color: $orange;
  font-size: 50px;
  // top: 30px;
  // left: 500px;
}

.btn-sound-record{
  color: $gray;
  font-size: 23px;
  // top: 30px;
  // left: 500px;
}
.card-buttons-sound {
  background-color: rgba(236, 240, 241, 1);
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
}

.button-inactive {
  display: none;
}

