.btn:focus {
    box-shadow: none;
}

.btn-orange {
  background-color: $orange;
  color:black;
}


.btn-blue {
  background-color: $blue;
  color: white;
  &:hover {
    background-color: #ce0000;
    color:white;
  }
}

.btn-back {
  position: absolute;
  left: 30px;
  background-color: #382878;
  color: lightgray;
  border-radius: 50%;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #ce0000;
    color: lightgray;
  }
}

.btn-plus{
  color: $blue;
  &:hover {
    color: #ce0000;
  }
  transition-duration:  0.5s;
}

.btn-90degrees{
  transform: rotate(90deg);
  transition-duration:  0.5s;
}



.btn-add {
  height: 24px;
  width: 24px;
  margin: 3px;
}

.btn-main{
  color: $orange;
  font-size: 50px;
  border:none;
  // top: 30px;
  // left: 500px;
  &:hover {
    font-size: 51px;
    color: $orange;
  }
}

.btn-stop{
  color: $green;
  font-size: 50px;
  border:none;
  // top: 30px;
  // left: 500px;
  &:hover {
    font-size: 51px;
    color: $green;
  }
}

.btn-sound-record{
  color: $gray;
  font-size: 23px;
  // top: 30px;
  // left: 500px;
}
.card-buttons-sound {
  background-color: rgba(236, 240, 241, 1);
  border-radius: 30px;
  padding: 5px 10px 5px 10px;
}

.button-inactive {
  display: none;
}

.btn-save {
  background-color: #c7cbcc;
  color: white;
  border-radius: 30px;
  padding: 5px 10px;
}

.btn-checkbox{
  border:none;
  background-color: rgba(236, 240, 241, 1);
  padding: 0px 100px;
  margin-top: 3px;
  border-radius: 0px 0px 30px 30px;
}

.icon-dropdown{
  cursor: pointer;
}

