.card-recording{
  overflow: hidden;
  height: 60px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 5px 20px;
  margin: 15px 0px;
  border: 1px solid #F1F1F1;

  .resource-card-icon {
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin: 0 0px 0 15px;
  }
}
