h1{
  text-transform: uppercase;
  font-weight: bolder;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.background-instrument-user {
  color: $orange;
  font-weight: 700;
  background-color: rgba(232,56,24,0.6);
  padding: 5px;
  border-radius: 5px;
}

.title-40{
  font-size:40px;
}

.title-32{
  font-size:32px;
}
