.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  z-index:1031;
  position: absolute;

  #logo{
    color: $blue;
    font-weight: lighter;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .avatar{
    border: white 1px solid;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
