.navbar-lewagon {
  justify-content: space-between;
  background-color: $light-gray;
  position: absolute;
  width: 100%;
  z-index:10;

  #logo{
    color: $blue;
    font-weight: lighter;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
