.text-orange {
  color: $orange;
}

.grow-resource {
  transition: all .2s ease-in-out;

  .icon-display-hover{
    color: silver;
    transform: scale(0);

    .fas:hover, .far:hover {
      color: dimgrey;
    }
  }



  &:hover {
  transform: scale(1.04);

  .icon-display-hover{
    transition: .2s ease;
    transform: scale(1);
  }
  }
}


.resource-card {
  overflow: hidden;
  height: 36px;
  background: white;
  box-shadow: 4px 3px $orange;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 8px;
  font-size: 12px;
  padding-right: 5px;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
  }

  .resource-card-icon {
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin: 0 15px 0 7px;
    font-size:24px;
    display:flex;
    align-items: center;
  }

  .resource-play {
    font-size: 24px;
  }
  .resource-star {
    font-size: 16px;
  }

}

audio {
  margin-top: 0px;
}

.mark-block {
  background-color: $orange;
  color: $light-gray;
}

