.grow-resource {
  transition: all .2s ease-in-out;
  &:hover {
  transform: scale(1.04);
  }
}

.resource-card {
  overflow: hidden;
  height: 50px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 8px;
  font-size: 12px;
  padding-right: 5px;

  a {
    text-decoration: none;
  }

  img {
    height: 100%;
    width: 50px;
    object-fit: cover;
    margin-right: 5px;
  }

}

.container-audio {
    width: 90%;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: $light-gray;;
    color: $blue;
    margin: 20px auto;
    overflow: hidden;
}
audio {
  width:100%;
}

.mark-block {
  background-color: $orange;
  color: $light-gray;
}

